@import url(https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css);

:root {
    --btn-color-1: #94ffed;
    --btn-color-2: #00cfad;
    --font: 'Victor mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: var(--font);
}

/*body {
    font-family: var(--font);
}*/
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}
.form input {
    background:lightcyan;
    border-style: none;
    border-radius:10px;
    height: 30px;
    margin: 0.5rem;
    animation: text-color 2s linear infinite;
    font-family: var(--font);
}
/*-- estilos de clases css --*/
.btn {
    border-radius:7px;
    border-style: none;
    text-align: center;
    width:80px;
    height: 30px;
    background: var(--btn-color-1);
    cursor: pointer;
}
.btn:active {
    background: var(--btn-color-2);
}

@keyframes text-color {
    0% {
        color:transparent;
    }

    10% {
        color:#00cfad;
    }

    30% {
        color:indigo;
    }

    70% {
        color:coral;
    }

    100% {
        color:cyan;
    }
}

::placeholder {
    text-align:center;
}
